# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# JavaScript files
[*.{js}]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Add more configuration for other file types as needed